<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="icon" th:href="@{/favicon.ico}" />
  <title>QM Validation Surveys</title>
  <link rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
  <link rel="stylesheet" media="screen" th:href="@{/css/bootstrap-utilities.min.css}"/>
  <link rel="stylesheet" media="screen" th:href="@{/css/bootstrap-icons.css}"/>
  <link rel="stylesheet" media="screen" th:href="@{/css/core.css}"/>
  <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/chart.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/sgratzl-chartjs-chart-boxplot.min.js}"></script>
</head>

<body>
<div th:replace="header :: header">&nbsp;</div>
<!-- /* Handle the flash message */-->
<th:block th:if="${message != null}">
  <!-- /* The message code is returned from the @Controller */ -->
  <div th:replace="alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">
    &nbsp;
  </div>
</th:block>

<div class="container-md">
  <form id="report" th:action="@{/admin/analysis/report}" th:object="${selectionWrapper}"
        method="post">
  <div class="md-12 d-flex flex-row flex-wrap justify-content-start mb-3">
      <button class="btn btn-primary m-2" type="submit" name="action" value="report">Generate Report</button>
      <button class="btn btn-primary m-2" type="submit" name="action" value="factorsCsv">Export Factors as CSV</button>
      <button class="btn btn-primary m-2" type="submit" name="action" value="demographicsCsv">Export Demographics as CSV</button>
      <button class="btn btn-primary m-2" type="submit" name="action" value="contactsCsv">Export Contacts as CSV</button>
  </div>
  <div class="row md-12 mt-5 justify-content-start border-bottom">
    <h3>Surveys</h3>
    <ul class="checklist">
      <li th:each="survey, stat : ${selectionWrapper.surveys}">
        <input class="form-check-input" type="checkbox" th:field="*{surveys[__${stat.index}__].selected}" th:checked="${survey.selected}" id="flexCheckChecked">
        <input type="hidden" th:value="${survey.id}" th:field="*{surveys[__${stat.index}__].id}" />
        <input type="hidden" th:value="${survey.token}" th:field="*{surveys[__${stat.index}__].token}" />
        <input type="hidden" th:value="${survey.startTime}"  th:field="*{surveys[__${stat.index}__].startTime}" />
        <input type="hidden" th:value="${survey.comment}" th:field="*{surveys[__${stat.index}__].comment}" />
        <input type="hidden" th:value="${survey.active}" th:field="*{surveys[__${stat.index}__].active}" />
        <span th:text="${survey.token}"></span>, <span th:text="${survey.startTime}"></span>, <span th:text="${survey.comment}"></span>,
        <span th:if="${survey.active}">active</span><span  th:if="${!survey.active}">inactive</span>
      </li>
    </ul>
    </div>
  </form>
  <div class="md-12 row">
    <h3>Results</h3>
  </div>
  <div class="md-12" th:if="${factorData.empty}">
    <p>No data yet</p>
  </div>
  <div class="md-12">
    <div th:each="factorData : ${factorData}">
      <span th:text="${factorData.factorKey}"></span>
      <div class="p-2 d-flex flex-row flex-wrap">
        <div th:each="aspectRating : ${factorData.chartData}" class="d-flex flex-column">
          <div>
          <span th:text="${aspectRating.aspectKey}"></span>: <span th:each="rating: ${aspectRating.frequencies}"><span th:text="${rating}"></span>,</span>
          </div>
          <div class="ratingHistogram"><canvas th:id="${factorData.factorKey} + '-' + ${aspectRating.aspectKey}" width="400" height="400"></canvas></div>

        </div>
      </div>
    </div>
  </div>
  <div class="md-12" th:if="${!answerTimeData.empty}">
    <p>Boxplot for answer time (in seconds)</p>
    <div style="width: 500px; height: 500px;">
      <canvas id="timeDataCanvas"></canvas>
    </div>
  </div>

</div>

<script th:inline="javascript">
  /*<![CDATA[*/

  var factorData = /*[[${factorData}]]*/;

  factorData.forEach(function (factor) {
    factor.chartData.forEach(function (qualityAspect) {
      var elementId = factor.factorKey + "-" +  qualityAspect.aspectKey;
      var ratingChart = document.getElementById(elementId);
      var myChart = new Chart(ratingChart, {
        type: 'bar',
        data: {
          labels: qualityAspect.labels,
          datasets: [{
            label: 'Ratings',
            data: qualityAspect.frequencies,
            backgroundColor: 'green',
          }]
        },
        options: {
          responsive: true,
          scales: {
            x: {
              beginAtZero: true,
              position: 'bottom'
            },
            y: {
              beginAtZero: true
            }
          }
       }
      });
    });
  });

  var answerTimeData = /*[[${answerTimeData}]]*/;
  console.log(answerTimeData);

  if (answerTimeData && answerTimeData.length !== 0) {
    const boxplotData = {
      // define label tree
      labels: ['Answer time (seconds)'],
      datasets: [{
        label: 'Selected surveys',
        backgroundColor: 'rgba(255,0,0,0.5)',
        borderColor: 'red',
        borderWidth: 1,
        outlierColor: '#595959',
        padding: 10,
        itemRadius: 0,
        data: [
          answerTimeData
        ]
      }]
    };

    const ctx = document.getElementById("timeDataCanvas").getContext("2d");
    window.myBar = new Chart(ctx, {
      type: 'boxplot',
      data: boxplotData,
      options: {
        responsive: true,
        legend: {
          position: 'top',
        },
        title: {
          display: true,
          text: 'Answer time boxplot (seconds)'
        }
      }
    });
  }


  /*]]>*/
</script>

</body>
</html>